Flask==2.3.3
Werkzeug==2.3.7
click==8.1.7
gunicorn==23.0.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
Flask-Login==0.6.3
Flask-WTF==1.2.2
python-dotenv==1.0.1
greenlet==3.1.1
psycopg2-binary==2.9.10
google-auth==2.45.0
google-auth-httplib2==0.3.0
google-api-python-client==2.187.0
google-api-core==2.28.1
protobuf==5.29.3